body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  /* Garante que o main ocupe o espaço necessário */
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
